/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $color-secondary;
        }
    }
}
/**
 * Custom options
 */
.center-image {
    margin: 0 auto;
    display: block;
}
.center {
    text-align: center;
}
